#main_content{
	font-family: Helvetica,Arial,sans-serif;
	max-width:740px;
	margin-top:0px;
}

body{
	font-family: Helvetica,Arial,sans-serif !important;
	max-width: 1200px;
	margin: auto;
}
.col-right{
	display:inline;
	float:right;
	width: 45%;
	text-align: right;
}
.col-left{
	display:inline;
	float:left;
	width: 45%;
}
.clearfix, .row{
	clear: both;
}
