<cfquery name="this_quote" datasource="agbcodes_ldi">
	SELECT *
	FROM quotes
	WHERE id = "#URL.id#"
</cfquery>



<cfquery name="new_wo" datasource="agbcodes_ldi">
	SELECT MAX(id) AS lastid
	FROM works_orders
</cfquery>

<cfquery datasource="agbcodes_ldi">
	INSERT INTO job_vs_works_order (job_id, w_order_id)
	VALUES ("#URL.job#", "#new_wo.lastid#")
</cfquery>

<cfquery datasource="agbcodes_ldi">
    UPDATE quotes
    SET q_status = "#URLEncodedFormat(URL.status)#",
    linked_wo_id = "#new_wo.lastid#"
    WHERE id = #URL.id#
</cfquery>

<cflocation url="../contract_details.cfm?id=#URL.job#" addtoken="no">