<div class="space_20px"></div>
<div class="col-md-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/4vl4fjxiU3s" frameborder="0" allowfullscreen style="border-radius:5px;"></iframe>
</div>
<div class="col-md-6">
<img src="images/features_breakdown.jpg" class="img-responsive" alt="liquiddynamics Key Features">
</div>
<div class="col-md-8 col-md-offset-2">

<img src="images/feature-points.jpg" class="center-block img-responsive" alt="">
<div class="clearfix"></div>
<div class="space_20px"></div>
</div>

