<cfparam name = "session.username" default = "fail">
<cfparam name = "session.slevel" default = "999">

<cfif IsDefined ("session.slevel") AND session.slevel lt 5>

	<cflocation url="../index.cfm?action=no_login" addtoken="no">

</cfif>