<!DOCTYPE html>
<html lang="en">
<head>

  <cfinclude template="includes/default_header.cfm">

  <title>Liquid Dynamics</title>

  <!-- Insert Querys ect here -->

</head>
<body>

  <cfinclude template="includes/nav.cfm">

  <!-- Page Content -->
  <main role="main" class="container">
                
    <cfoutput>
      <div class="col-lg-12">

        <h1 class="page-header">Blank Template</h1>

        <p class="lead">Please fill in this template.</p>

      </div>
    </cfoutput>

  </main>
  
  <hr>
  <!-- End of page main content -->

  <cfinclude template="includes/footer.cfm">
  <cfinclude template="includes/java_include.cfm">

</body>
</html>