<cfquery name="records_to_update" datasource="agbcodes_ldi">
  SELECT invoice_number, PR_EA
  FROM invoices
  WHERE PR_EA = ''
</cfquery>
<cfoutput>#records_to_update.recordcount#</cfoutput>
<cfoutput query="records_to_update">
      #invoice_number#
	<cfquery datasource="agbcodes_ldi">
          UPDATE invoices
          SET PR_EA = "#DecimalFormat(0.00)#"
          WHERE PR_EA = ''
      </cfquery>

      -Updated<br>

</cfoutput>