<div class="container">
<div class="row">
<div class="span2">
<p><span style="font-size:13px;line-height:13px"><strong>Online Prints:</strong>
<br /><a href="/order/slingshot?service=print">Order Online Prints</a>
<br /><a href="/about/printing.info">Printing Info</a>
<br /><a href="/about/Print_Prices">Print Prices</a>
<br /><a href="/about/kiosk">Desktop Kiosk</a>
<br /><a href="/about/FTP_Order_Form">FTP Order Form</a>
</span></p>
<p><span style="font-size:13px;line-height:13px">
<strong>Gifts &amp; Products:</strong>
<br /><a href="/category/79">Homeware</a>
<br /><a href="/category/8">Passport Photos</a>
<br /><a href="/category/73">Phone &amp; Tablet Cases</a>
<br /><a href="/category/77">Photo Bags</a>
<br /><a href="/category/78">Stationery &amp; Office</a>
<br /><a href="/category/10">T-Shirts</a>
</span></p>
<p><span style="font-size:13px;line-height:13px">
<strong>Schools:</strong>
<br /><a href="/about/Schools_Intro">Schools</a>
</span></p>
</div>
<div class="span2">
<p><span style="font-size:13px;line-height:13px">
<strong>Wall Decor:</strong>
<br /><a href="/category/71">Acrylic Blocks</a>
<br /><a href="/category/87">Acrylic Panels</a>
<br /><a href="/category/66">Aluminium Print Panels</a>
<br /><a href="/category/41">Box Frames</a>
<br /><a href="/category/3">Calendars &amp; Wallplanners</a>
<br /><a href="/category/91">Canvas Prints</a>
<br /><a href="/category/81">ChromaLuxe Panels</a>
<br /><a href="/category/40">Citi Blocks</a>
<br /><a href="/category/85">Fine Art Prints</a>
<br /><a href="/category/86">Large Format Prints</a>
<br /><a href="/category/67">Mounting &amp; Laminating</a>
<br /><a href="/category/5">Poster Collages</a>
<br /><a href="/category/95">Sample Products</a>
</span></p>
<p><span style="font-size:13px;line-height:13px">
<strong>Offers:</strong>
<br /><a href="/category/84">Special Offers</a>
</span></p>
</div>
<div class="span2">
<p><span style="font-size:13px;line-height:13px">
<strong>Online Shop:</strong>
<br /><a href="/category/51">Compact Flash Cards</a>
<br /><a href="/category/47">Pro Albums &amp; CD/DVD Cases</a>
<br /><a href="/category/49">SD Cards</a>
<br /><a href="/category/50">USB Memory Sticks</a>
</span></p>
</div>
<div class="span2">
<p><span style="font-size:13px;line-height:13px">
<strong>Film Services:</strong>
<br /><a href="/about/Colour_Film_Processing_C41">Colour Film Processing C41</a>
<br /><a href="/about/E6_Slide_Processing">E6 Slide Processing</a>
<br /><a href="/about/Black_White_Film_Processing">Black and White Processing</a>  
<br /><a href="/about/Lomo_Processing">Lomo Processing</a>
<br /><a href="/about/APS_Processing">APS Film Processing</a>
<br /><a href="/about/Film_Processing_110_126">110 &amp; 126 Film Processing</a>
<br /><a href="/about/Cross_Processing">Film Cross Processing</a>
<br /><a href="/about/Reprints_Enlargements">Reprints &amp; Enlargements</a>
<br /><a href="/about/Scanning_to_CD">Scanning to CD</a>
<br /><a href="/about/DVD_Transfer">DVD Transfers</a>
<br /><a href="/about/Memory_Card_Recovery">Memory Card Recovery</a>
<br /><a href="/about/Photo_Restoration">Photo Restoration</a>
<br /><a href="/about/Prints_from_Prints">Prints from Prints</a>
<br /><a href="/about/Digital_Contact_Sheets">Digital Contact Sheets</a>
</span></p>
</div>
<div class="span2">
<p><span style="font-size:13px;line-height:13px">
<strong>Photo Books:</strong>
<br /><a href="/category/2">Photo Books</a>
<br /><a href="/category/153-luxury-hard-material-photo-book">Luxury Photo Books</a>
<br /><a href="/category/158-usb-and-cd-presentation">USB / Presentation boxes</a>
<br /><a href="/category/38-premium-photo-books">Premium Photo Books</a>
<br /><a href="/category/64-mta-madrid-photo-books-">MTA Madrid Photo Books</a>
<br /><a href="/category/65-mta-eas-eee-photo-books-">MTA Eas-eee Photo Books</a>
<br /><a href="/category/37-advanced-photo-books">Advanced Photo Books</a>
<br /><a href="/category/36-standard-photo-books">Standard Photo Books</a>
<br /><a href="/about/photobookdesigning">Photo Book design service</a>
<br /><a href="/category/158-usb-and-cd-presentation">CD/USB cases</a>
<br /><a href="/about/Luxury_photo_boxes">Luxury Photo Book Boxes</a>
<br /><a href="/category/164-luxury-photo-boxes">Print Boxes</a>
<br /><a href="/about/Luxury_Presentation_Folios">Presentation Folios</a>
<br /><a href="/category/157-new-luxury-sample-photo-books">Sample Photo Books</a>
<br /><a href="/category/156-new-parents-albums">Parent/Duplicate Photo Books</a>
</span></p>
<p><span style="font-size:13px;line-height:13px">
<strong>Contact &amp; Help:</strong>
<br /><a href="/about/About_Us">About Us</a>
<br /><a href="/about/Contact_Us">Contact Us</a>
<br /><a href="/about/Delivery">Delivery</a>
<br /><a href="/about/FAQs_General_DSCL">FAQs</a>
<br /><a href="/about/Order_Forms">Order Forms</a>
<br /><a href="/about/Production_Times">Production Times</a>
<br /><a href="/about/NEWNEW_Technical_Support">Technical Support</a>
<br /><a href="/about/terms.and.conditions">Terms &amp; Conditions</a>
<br /><a href="/about/Testimonials">Testimonials</a>
<br /><a href="/about/Image_File">The Image File</a>
<br /><a href="//www.youtube.com/user/DSColourLabs">YouTube Channel</a>
</span></p>
</div>
<div class="span2">
<tr>
</tr><p><th colspan="3"><span style="font-size:13px;line-height:13px"><strong>Follow DS Colour Labs:</strong></span></th></p>
<table class="social-media">
<tbody>
<tr>
<td><a href="//www.facebook.com/DSColourLabs" target="_blank"><img src="/cms/asset/0a17d8f8320e9ebfda0534015a9d6bdf.png" alt="Facebook Icon" /></a></td>
<td><a href="//twitter.com/DSColour" target="_blank"><img src="/cms/asset/3d895f0d79276f44da98f122d8089109.png" alt="Twitter Icon" /></a></td>
<td><a href="//www.youtube.com/user/DSColourLabs" target="_blank"><img src="/cms/asset/7e41dd3ecad661a36bf241c6f2b8e501.png" alt="YouTube Icon" /></a></td>
</tr>
</tbody></table>
<br />
<p><span style="font-size:13px;line-height:13px"><strong>Payment Methods:</strong></span></p>
<img alt="DSCL Payment Methods" src="/cms/asset/c178c3d94341ef411daae00f011f87de.png" />
</div>
</div>
</div>
<script>jQuery(function(b){var a=b("[itemscope] .product .price");if(a.length==1){a.find("p").css("font-size","20px")}});</script>
<script src="/javascripts/libs/bootstrap.lightbox.js" type="text/javascript"></script>
<style>@media screen and (max-width:1200px){.floatingTab{display:none}}</style>
<div style="position:relative" id="countdowntab" class="floatingTab">
<div style="position:fixed;width:162px;z-index:100;top:150px;right:0">
<form name="ccoptin" action="//visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" onsubmit="masquer('countdowntab')">
<input type="hidden" name="llr" value="zubx59lab" />
<input type="hidden" name="m" value="1112227415705" />
<input type="hidden" name="p" value="oi" />
<input type="submit" value="" style="background:url(/cms/asset/35c0c1e564f9513620d77e2b582b1271.png) no-repeat;width:162px;height:162px;border:0;margin:0;padding:0" />
</form>
<i class="icon-remove-sign" style="cursor:pointer;position:absolute;top:-0.5em;left:-0.5em;font-size:2em" onclick="masquer('countdowntab')"></i>
</div>
</div>
<script language="javascript" type="text/javascript">/*<![CDATA[*/function masquer(a){document.getElementById(a).style.display="none";if("localStorage" in window){window.localStorage.setItem("fairy-hidden","true")}}if("localStorage" in window&&!!window.localStorage.getItem("fairy-hidden")){masquer("countdowntab")}/*]]>*/</script>
<script type="text/javascript">var sayuClientId=17271;var sayuTrackingHost=(("https:"==document.location.protocol)?"https://www.":"http://www.");sayuTrackingHost+="sayutracking.co.uk/landing.js";document.write(unescape("%3Cscript src='"+sayuTrackingHost+"?client_id="+sayuClientId+"' type='text/javascript'%3E%3C/script%3E"));</script>
<noscript>
<img height="1" width="1" border="0" src="//www.sayutracking.co.uk/landing.js?js=0&client_id=17271" alt="" />
</noscript>
<script language="text/javascript">function(){if(window.location.href.indexOf("checkout")>-1){var a=document.getElementsByClassName("deliveries");var a="12"}};</script>