<cfquery name="parts" datasource="agbcodes_ldi">
    SELECT *
    FROM parts_sales_table
    ORDER BY id DESC
</cfquery>

<cfoutput><h1>#parts.recordcount#</h1></cfoutput>

<cfoutput query="parts">

	#id#<br>
	<cfquery datasource="agbcodes_ldi">
		UPDATE parts_sales_table
		SET part_id = '#id#'
	    WHERE id = '#id#' 
	</cfquery>

</cfoutput>

