<cfquery datasource="agbcodes_ldi">
  INSERT INTO job_notes (job_id, comment)
  VALUES ("#FORM.job_id#", "#URLEncodedFormat(FORM.new_job_note)#")
</cfquery>

<cflocation URL="../contract_details.cfm?id=#FORM.job_id#" addtoken="no">