<cfdump var="#form#">

<cfquery datasource="agbcodes_ldi">
  INSERT INTO quote_items (quote_id, item_name)
  VALUES ('#FORM.quote_id#', "#URLEncodedFormat(FORM.NEW_ITEM_NAME)#")
</cfquery>

<cflocation URL="../quote_management.cfm?id=#FORM.quote_id#" addtoken="no">