<cfdump var="#form#">

<cfquery name="del_check" datasource="agbcodes_ldi">
  SELECT *
  FROM quote_params
  WHERE id = '#URL.id#'
</cfquery>

<cfquery datasource="agbcodes_ldi">
  DELETE
  FROM quote_params
  WHERE id = '#URL.id#'
</cfquery>

<cflocation URL="../quote_management.cfm?id=#del_check.quote_id#" addtoken="no">