body {
  padding-top: 5rem;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 1.5; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.agb-link{
  color:#f5f5f5 !important;
  opacity: 0.5;
}
.agb-table-link{
  color:#f5f5f5 !important;
}
.fuzzy_search_toggle{
  padding-left: 20px;
}